{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="wrapper">
        <section class="page_head">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="page_title">
                            <h2>{{ pageTitle }} {% if topicTitle is defined %} - {{ topicTitle }}{% endif %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content blog">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="blog_medium">
                            {% for article in articleList %}
                                <article class="post">
                                    <figure class="post_img">
                                        <a href="{{ base_url() }}articles/{{ article.id }}">
                                            <img class="img-thumbnail img-responsive" src="{{ base_url() }}img/blog/{{ article.thumb }}" alt="blog post">
                                        </a>
                                    </figure>
                                    <div class="post_content">
                                        <div class="post_meta">
                                            <h2>
                                                <a href="{{ base_url() }}articles/{{ article.id }}">
                                                    {{ article.title }}
                                                </a>
                                            </h2>
                                        </div>
                                        <p>{{ article.description[:250]|raw }}...</p>
                                        <div class="metaInfo">
                                            <a class="btn btn-small btn-default" href="{{ base_url() }}articles/{{ article.id }}">
                                                Подробнее
                                            </a>
                                            <span>
                                                <i class="fa fa-comments"></i> <a href="{{ base_url() }}articles/{{ article.id }}#disqus_thread" data-disqus-identifier="article_{{ article.id }}_identifier"></a>
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ pager|raw }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-4 col-sm-4">
                        <div class="sidebar">
                            <div class="widget widget_categories">
                                <div class="widget_title">
                                    <h4><span>Категории</span></h4>
                                </div>
                                <ul class="arrows_list list_style">
                                    {% for topic in topicList %}
                                        <li>
                                            <a href="{{ base_url() }}blog/topic/{{ topic.id }}">
                                                {{ topic.name }} ({{ topic.articles_count }})
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block gift %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {% include 'blocks/footer_disqus_comment_count_script.html.twig' %}
    {{ parent() }}
{% endblock %}