<!DOCTYPE html>
    <!--[if IE 8 ]>
    <html class="ie ie8" class="no-js" lang="en">
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <html class="no-js" lang="en">
    <!--<![endif]-->
        <head>
            {% block head %}
                <meta http-equiv="content-type" content="text/html; charset=UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                <title>Spring Consulting</title>
                <meta name="description" content="">

                <!-- CSS FILES -->
                <link rel="stylesheet" href="{{ base_url() }}css/bootstrap.min.css"/>
                <link rel="stylesheet" href="{{ base_url() }}css/style.css">
                <link rel="stylesheet" type="text/css" href="{{ base_url() }}css/style.css" media="screen" data-name="skins">
                <link rel="stylesheet" href="{{ base_url() }}css/layout/wide.css" data-name="layout">

                <link rel="stylesheet" href="{{ base_url() }}css/fractionslider.css"/>
                <link rel="stylesheet" href="{{ base_url() }}css/style-fraction.css"/>
                <link rel="stylesheet" href="{{ base_url() }}css/animate.css"/>

                {#<link rel="stylesheet" type="text/css" href="/css/switcher.css" media="screen" />#}
                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                <![endif]-->

                {% include 'blocks/header_social_scripts.html.twig' %}
                {% include 'blocks/header_angular_scripts.html.twig' %}
            {% endblock %}
        </head>
        <body>
            {% block header %}
                <div id="top-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 top-info hidden-xs">
                                <span><i class="fa fa-phone"></i>Phone: (097) 916-24-57</span>
                                <span><i class="fa fa-envelope"></i>Email: spring@springconsult.com.ua</span>
                            </div>
                            <div class="col-sm-4 top-info">
                                <ul>
                                    <li><a href="http://www.facebook.com/pages/Spring-Consulting/224221514260502" class="my-facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="helen.litkovskaya" class="my-skype"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="" class="my-google"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="logo-bar">
                    <div class="container">
                        <div class="row">
                            <!-- Logo / Mobile Menu -->
                            <div  class="col-lg-3 col-sm-3 ">
                                <div id="logo">
                                    <h1><a href="index.html"><img alt="logo" src="{{ base_url() }}img/logo.png"/></a></h1>
                                </div>
                            </div>
                            <!-- Navigation
                            ================================================== -->
                            <div class="col-lg-9 col-sm-9">
                                <div class="navbar navbar-default navbar-static-top" role="navigation">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="active">
                                                <a href="#">Услуги</a>
                                            </li>

                                            <li>
                                                <a href="#">Обо мне</a>
                                            </li>

                                            <li>
                                                <a href="#" >Магазин</a>
                                            </li>

                                            <li>
                                                <a href="#">Блог</a>
                                            </li>

                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block content %}{% endblock %}

            {% block gift %}
                <section class="page_head">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="page_title">
                                    <h2>Подарок</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <gift-container></gift-container>
            {% endblock %}

            {% block footer %}
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="widget_title">
                                    <h4><span>Контакты</span></h4>
                                </div>
                                <div class="widget_content">
                                    <p>Donec earum rerum hic tenetur ans sapiente delectus, ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus asperiores.</p>
                                    <ul class="contact-details-alt">
                                        <li>
                                            <i class="fa fa-user"></i>
                                            <p><strong>Phone</strong>:(097) 916-24-57</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i>
                                            <p><strong>Email</strong>: <a href="mail:spring@springconsult.com.ua">spring@springconsult.com.ua</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="widget_title">
                                    <h4><span>Блог</span></h4>
                                </div>
                                <div class="widget_content">
                                    <ul class="links">
                                        <li><a href="#">Aenean commodo ligula eget dolor<span>November 07, 2015</span></a></li>
                                        <li><a href="#">Temporibus autem quibusdam <span>November 05, 2015</span></a></li>
                                        <li><a href="#">Debitis aut rerum saepe <span>November 03, 2015</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="widget_title">
                                    <h4><span>Продукты</span></h4>

                                </div>
                                <div class="widget_content">
                                    <div class="widget_content">
                                        <ul class="links">
                                            <li><a href="#">Aenean commodo ligula eget dolor<span>November 07, 2015</span></a></li>
                                            <li><a href="#">Temporibus autem quibusdam <span>November 05, 2015</span></a></li>
                                            <li><a href="#">Debitis aut rerum saepe <span>November 03, 2015</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget_content">
                                    <div class="tweet_go"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <section class="footer_bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="copyright">&copy; Copyright 2017 Spring Consulting</p>
                            </div>

                            <div class="col-sm-6 ">
                                <div class="footer_social">
                                    <ul class="footbot_social">
                                        <li><a class="fb" href="http://www.facebook.com/pages/Spring-Consulting/224221514260502" data-placement="top" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="dribbble" href="#." data-placement="top" data-toggle="tooltip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a class="skype" href="helen.litkovskaya" data-placement="top" data-toggle="tooltip" title="Skype"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {% include 'blocks/footer_scripts.html.twig' %}
            {% endblock %}
        </body>
</html>