{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="wrapper">
        <section class="page_head">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="page_title">
                            <h2>{{ pageTitle }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content service">
            <div class="container">
                {% for saleCategory in saleCategoryList %}
                    <div class="row sub_content">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="dividerHeading">
                                <h4><span>{{ saleCategory.data.name }}</span></h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="pricingBlock theme-color-pt">
                            {% for product in saleCategory.productList %}
                                <li id="product-{{ product.id }}" class="col-lg-3 col-md-3 col-sm-3"  style="height: 520px">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <img src="{{ base_url() }}img/sale_products/{{ product.image }}"/>
                                            <span class="heading">
                                                {{ product.title }}
                                                {% if product.label|length %}
                                                    <br/>{{ product.label }}
                                                {% endif %}
                                            </span>
                                            <span class="price-value">UAH<span>{{ product.price }}</span></span>
                                        </div>

                                        <div class="pricingContent">
                                            {{ product.description|raw }}
                                            {% if product.gift|length %}
                                                <i class="fa fa-gift price"></i> {{ product.gift|raw }}
                                            {% endif %}
                                        </div>

                                        <div class="pricingTable-sign-up product-processing">
                                            <a href="{{ base_url() }}shop/sale/{{ product.salePageId }}/{{ product.salePageSlug }}" class="btn btn-default product-detail">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <span class="btn btn-default product-cart">
                                                <i class="fa fa-shopping-cart"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}

{% block gift %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}