{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="wrapper">
        <section class="page_head">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="page_title">
                            <h2>{{ data.title }} {{ data.label }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content about">
            <div class="container">
                <div class="row sub_content">
                    <div class="who">
                        <div class="col-lg-8 col-sm-8">
                            <div class="col-lg-4 col-sm-4">
                                <img src="{{ base_url() }}img/sale_product/{{ data.image.image }}"/>
                            </div>
                            <div class="col-lg-8 col-sm-8">
                                {{ data.description|raw }}
                                {% if data.gift|length %}
                                    <i class="fa fa-gift price"></i> {{ data.gift|raw }}
                                {% endif %}

                                <span
                                    class="btn btn-default product-cart"
                                    data-price="{{ data.price }}"
                                    data-product-id="{{ data.id }}"
                                    data-title="{{ data.title }}"
                                >
                                <i class="fa fa-shopping-cart"></i> Купить
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-4">
                            <div class="sidebar">
                                <div class="widget">
                                    <div class="widget_title">
                                        <h4><span>Доставка</span></h4>
                                    </div>
                                    <ul class="list_style circle">
                                        <li>
                                            <span><strong>Новая почта</strong> 1-2 дня</span>
                                        </li>
                                        <li>
                                            <span><strong>Укрпочта</strong> 5-7 дней</span>
                                        </li>
                                        <li>
                                            <span><strong>Самовывоз</strong> Киев Оболонь</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget">
                                    <div class="widget_title">
                                        <h4><span>Оплата</span></h4>
                                    </div>
                                    <ul class="list_style circle">
                                        <li>
                                            <span><strong>Наличными</strong> на месте при самовывозе</span>
                                        </li>
                                        <li>
                                            <span><strong>Безналичный расчет</strong> на карту ПриватБанка</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block gift %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script type="text/javascript">
        $('.shorten-review').shorten({
            showChars: 350,
            moreText : '<i class="fa fa-angle-down"></i>',
            lessText : '<i class="fa fa-angle-up"></i>'
        });
    </script>
{% endblock %}