{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="wrapper">
        <section class="page_head">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="page_title">
                            <h2>{{ data.title }} {{ data.label }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content about">
            <div class="container">
                <div class="row sub_content">
                    <div class="who">
                        <div class="col-lg-8 col-sm-8">
                            <div class="col-lg-4 col-sm-4">
                                <img src="{{ base_url() }}img/sale_product/{{ data.image.image }}"/>
                                <div class="widget_content">
                                    <div class="flickr">
                                        {% if saleProductImageList|length %}
                                            <ul class="flickr-feed">
                                                {% for saleProductImage in saleProductImageList %}
                                                    {% if saleProductImage.is_main < 1 %}
                                                        {% set imageData = saleProductImage.image|split('.') %}
                                                        <li>
                                                            <a class="mfp-gallery" title="origin" href="{{ cdn_url() }}img/sale_product/additional/{{ saleProductImage.image }}">
                                                                <i class="fa fa-search"></i>
                                                                <div class="hover"></div>
                                                            </a>
                                                            <img src="{{ cdn_url() }}img/sale_product/additional/{{ imageData[0] }}_s.{{ imageData[1] }}" alt="small">
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-8">
                                <div>
                                    {{ data.description|raw }}
                                    {% if data.gift|length %}
                                        <i class="fa fa-gift price"></i> {{ data.gift|raw }}
                                    {% endif %}
                                </div>
                                <h3 class="price">
                                    {{ data.price }} грн
                                    <span
                                            class="btn btn-default btn-lg product-cart"
                                            data-price="{{ data.price }}"
                                            data-product-id="{{ data.id }}"
                                            data-title="{{ data.title }}"
                                    >
                                        <i class="fa fa-shopping-cart"></i> Купить
                                    </span>
                                </h3>
                                {% include 'blocks/social_share.html.twig' with {'titleTag': 'h4'} %}
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="project_description">
                                    {% if data.text|length %}
                                        <div class="widget_title">
                                            <h4><span>Описание</span></h4>
                                        </div>
                                        {{ data.text|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-4">
                            <div class="sidebar">
                                {% if data.delivery|length %}
                                    <div class="widget">
                                        <div class="widget_title">
                                            <h4><span>Доставка</span></h4>
                                        </div>
                                        {{ data.delivery|raw }}
                                    </div>
                                {% endif %}
                                {% if data.payment|length %}
                                    <div class="widget">
                                        <div class="widget_title">
                                            <h4><span>Оплата</span></h4>
                                        </div>
                                        {{ data.payment|raw }}
                                    </div>
                                {% endif %}
                                {% if reviewList|length %}
                                    <div class="widget">
                                    <div class="widget_title">
                                        <h4><span>Отзывы</span></h4>
                                    </div>
                                    {% for review in reviewList %}
                                        <div class="about_author">
                                            <div class="author_desc">
                                                <img src="{{ cdn_url() }}img/review/{{ review.image }}" alt="about author">
                                            </div>
                                            <div class="author_bio">
                                                <h5 class="author_name">
                                                    {{ review.author }}
                                                </h5>
                                                <p class="author_det">
                                                    {{ review.text[:95]|raw }}
                                                    <span class="show-more" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ review.text }}"> ...<i class="fa fa-search-plus"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block gift %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script type="text/javascript" src="{{ cdn_url() }}js/front/jquery.magnific-popup.min.js"></script>
    {% include 'blocks/popup_payment.html.twig' %}
    <script src="{{ cdn_url() }}assets/shop.js"></script>
{% endblock %}